extends layout

block content
  .container
    .row
      .col-md-12
    .row
      .col-md-3
      .col-md-6
        if !displayName
          h1 Welcome to #{title}
      .col-md-3
        if !displayName
          h1
            a(href="/auth/google" class="googleLogin" title="google login")
          h1
            a(href="/loggedIn" title="login") bypass
    .row
      h1
    .row
      h1
    .row
      .col-md-1
      .col-md-10
        if !displayName
          h2 This is the what you've been waiting for...
          h2 An application to connect you with the one person who wants to trade trunks with you
      if displayName
        .row.bigBtns(style='margin-top: 200px')
          .col-md-1
          .col-md-5
            a(href='/offer')
              button.btn.center-block
                span offer trunk
          .col-md-5
            a(href='/search')
              button.btn.center-block
                span search trunks
          .col-md-1
      .col-md-1