extends layout

block content
  .container
    .row
      .col-md-12
    .row
      .col-md-3
      .col-md-6
        if !displayName
          h1 Welcome to #{title}
      .col-md-3
        if !displayName
          h1
            a(href="/auth/google" class="googleLogin" title="google login")
    .row
      h1
    .row
      h1
    .row
      .col-md-1
      .col-md-10
        if !displayName
          h2 This is the what you've been waiting for...
          h2 An application to connect you with the one person who wants to trade trunks with you
      .col-md-1
    if displayName
      .row
        .col-md-6
          .jumbotron
            h1
            p
              a.btn.btn-info.btn-lg(href='/offer', role='button') Offer Trade
        .col-md-6
          .jumbotron
            h1
            p
              a.btn.btn-info.btn-lg(href='/search', role='button') Search Offers
