body {
  /*background-color:  #12FFEF;*/
  background-image: url('/images/northern_lights.jpeg');
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
  opacity: 0.95;
  filter: alpha(opacity=95);
}

h1 {
  font-size: 50px;
  color: white;
}

h2 {
  font-size: 35px;
  color: white;
}

label {
  color: white;
}

.googleLogin {
 width: 200px;
 height: 50px;
 display:block;
 background:transparent url('/images/google_signin_buttons/btn_google_signin_dark_normal_web.png') center top no-repeat;
}
.googleLogin:hover {
   background-image: url('/images/google_signin_buttons/btn_google_signin_dark_focus_web.png');
}
.googleLogin:active {
   background-image: url('/images/google_signin_buttons/btn_google_signin_dark_pressed_web.png');
}
